.Landing-container {
  width: 80%;
  margin: 0 auto;
}

.Form-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items:center; 
}

.Form > * {
  margin: 50px;
}